<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>extrastu.me.alfred-flomo</string>
	<key>connections</key>
	<dict>
		<key>01DCFAA3-326A-48EA-9C7C-485E2AD24E64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>442E8D26-11B8-4C09-8158-D3BE38BD7EF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>442E8D26-11B8-4C09-8158-D3BE38BD7EF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F1D3A3E-79A5-4D9B-ADFC-1067BACCB184</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>extrastu</string>
	<key>description</key>
	<string>alfred to flomo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-flomo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>通知</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3F1D3A3E-79A5-4D9B-ADFC-1067BACCB184</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>flomo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>01DCFAA3-326A-48EA-9C7C-485E2AD24E64</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node action.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>442E8D26-11B8-4C09-8158-D3BE38BD7EF1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-flomo

&gt; send text to flomo with alfred 

## requirement

- `brew install node`


## how to use

1. [get flomo PRO API](https://v.flomoapp.com/mine?source=incoming_webhook)

2. set alfred-flomo env API</string>
	<key>uidata</key>
	<dict>
		<key>01DCFAA3-326A-48EA-9C7C-485E2AD24E64</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>3F1D3A3E-79A5-4D9B-ADFC-1067BACCB184</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>442E8D26-11B8-4C09-8158-D3BE38BD7EF1</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>API</key>
		<string>https://flomoapp.com/iwh/NjM0/6b07088247ea3df943e783a0db3849d4/</string>
		<key>TAG</key>
		<string>#alfred</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>API</string>
	</array>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
