<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>extrastu.me.alfred-flomo</string>
	<key>connections</key>
	<dict>
		<key>BB950905-F1D8-4605-8B18-8F9A2CC2532E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A4A5857-3138-4FAE-909E-6348621AEFD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBB428A5-5E3F-4262-83A3-3F3A40D0FAD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB950905-F1D8-4605-8B18-8F9A2CC2532E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>extrastu</string>
	<key>description</key>
	<string>send text to flomo with alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-flomo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>flomo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'json'

API = ENV['API']

if API == ""
	  items = [
		  {
			  title: "尚未设置 API",
			  subtitle: "请在 workflow 配置中设置 API",
		  },
	  ]
else
	items = [
		{
			title: "发送 #{ARGV[0]} 到 flomo",
			arg: ARGV[0],
		},
	]
end

puts({ items: items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBB428A5-5E3F-4262-83A3-3F3A40D0FAD2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>通知</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3A4A5857-3138-4FAE-909E-6348621AEFD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require 'net/http'
require 'uri'
require 'json'

API = ENV['API']
TAG = ENV['TAG']

uri = URI.parse(API)

# Set parameters
params = {
  content:  ARGV[0] +"
" + TAG
}
# Set headers
headers = {
    'Content-Type': 'application/json',
 
}
https = Net::HTTP.new(uri.host, uri.port)
https.use_ssl = true
request = Net::HTTP::Post.new(uri.request_uri, headers)
request.body = params.to_json

response = https.request(request)

res = JSON.parse(response.body)

message = res['message']

puts res['message']</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB950905-F1D8-4605-8B18-8F9A2CC2532E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-flomo

&gt; send text to flomo with alfred 


## how to use

1. [get flomo PRO API](https://v.flomoapp.com/mine?source=incoming_webhook)

2. set alfred-flomo env API</string>
	<key>uidata</key>
	<dict>
		<key>3A4A5857-3138-4FAE-909E-6348621AEFD2</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>BB950905-F1D8-4605-8B18-8F9A2CC2532E</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>EBB428A5-5E3F-4262-83A3-3F3A40D0FAD2</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>API</key>
		<string></string>
		<key>TAG</key>
		<string>#alfred</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/extrastu/alfred-flomo</string>
</dict>
</plist>
